@model frontend.Models.Manga

@if (Model != null)
{
	Manga manga = Model;

	<img src="@manga.ThumbnailURL">

	<h1>@manga.Title</h1>
	
	@manga.Author;
	<br />
	@manga.Status;
	<br />
	@manga.Genres;
	<br />
	@manga.Released;
	<br />
	@manga.Description;
	<br />
	@manga.Chapters;
} else
{
	<p>Nao achado</p>
}